<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
  </head>
  <body>
    <div class="container main_list">
        <h1 class="title">Kicker club</h1>
        <br>
        <div class="container main_buttons">
            <div class="row">
                <div class="col main_button">
                    <button type="button" class="btn">Матч один на один</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="button" class="btn main_button">Матч два на два</button>
                </div>
            </div>

            <div class="row">
                 <div class="col ">
                    <button type="button" class="btn main_button">Матч три  на три</button>
                </div>
            </div>

            <div class="row">
                <div class="col ">
                    <button type="button" class="btn main_button">Матч четыре  на четыре</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="button" class="btn main_button">Доска подсчета</button>
                </div>
            </div>

            <div class="row">
                <div class="col ">
                    <button type="button" class="btn main_button">Турнир</button>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>